---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,700,200italic,400italic,700italic);

@charset "utf-8";


// Our variables
$base-font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
$base-font-size:   15px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.65;

$spacing-unit:     30px;

$text-color:       #525252;
$background-color: #fefefe;
$brand-color:      #596a91;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;


// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
