<header class="site-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3">
                <h1><a href="{{ site.baseurl }}/">{{ site.title }}</a></h1>
            </div>
            <div class="col-sm-9">
                <nav>
                    <ul>
                        <li><a href="{{ site.baseurl }}/guidebook/1.0/">Guidebook</a></li>
                        <li><a href="{{ site.baseurl }}/api/1.0/">API</a></li>
                        <li><a href="{{ site.baseurl }}/hands-on/1.0/">Hands-On</a></li>
                        <li><a href="https://gitter.im/francoisfaubert/strata" target="_blank">Support</a></li>
                        <li><a href="https://github.com/francoisfaubert/strata/" target="_blank">Github</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>
