
<h3 id="home">Documentation</h3>
<ul>
  <li><a href="{{ site.baseurl }}/docs/">Documentation home</a></li>
  <li><a href="{{ site.baseurl }}/docs/foreword/">Foreword</a></li>
</ul>

<h3 id="configuration">Setup</h3>
<ul>
  <li><a href="{{ site.baseurl }}/docs/installation/">Installation</a></li>
  <li><a href="{{ site.baseurl }}/docs/routes/">Configuring Routes</a></li>
</ul>

<h3 id="writing-code">Coding</h3>
<ul>
  <li><a href="{{ site.baseurl }}/docs/mvc/">Mvc global object</a></li>
  <li><a href="{{ site.baseurl }}/docs/migrations/">Migrations</a></li>
  <li><a href="{{ site.baseurl }}/docs/server/">Server</a></li>
  <li><a href="{{ site.baseurl }}/docs/controllers/">Controllers</a></li>
  <li><a href="{{ site.baseurl }}/docs/models/">Models</a>
    <ul>
      <li><a href="{{ site.baseurl }}/docs/models/taxonomies/">Taxonomies</a></li>
      <li><a href="{{ site.baseurl }}/docs/models/adminmenus/">Admin menus</a></li>
      <li><a href="{{ site.baseurl }}/docs/saving/">Saving data</a>
        <ul>
          <!-- li><a href="{{ site.baseurl }}/docs/forms/">Form</a></li -->
          <li><a href="{{ site.baseurl }}/docs/validators/">Validators</a></li>
        </ul>
      </li>
    </ul>
  </li>
  <li><a href="{{ site.baseurl }}/docs/utilities/">Utilities</a>
    <ul>
      <li><a href="{{ site.baseurl }}/docs/utilities/debug/">debug()</a></li>
      <li><a href="{{ site.baseurl }}/docs/utilities/emailloader/">EmailLoader</a></li>
    </ul>
  </li>
</ul>
