
<h3 id="home">Documentation</h3>
<ul>
  <li><a href="{{ site.baseurl }}/docs/">Documentation home</a></li>
  <li><a href="{{ site.baseurl }}/docs/foreword/">Foreword</a></li>
</ul>

<h3 id="configuration">Setup</h3>
<ul>
  <li><a href="{{ site.baseurl }}/docs/installation/">Installation</a></li>
  <li><a href="{{ site.baseurl }}/docs/configuring/">Configuring</a></li>
</ul>

<h3 id="basics">Basics</h3>
<ul>
  <li><a href="{{ site.baseurl }}/docs/strata/">Strata object</a></li>
  <li><a href="{{ site.baseurl }}/docs/routes/">Routes</a></li>
  <li><a href="{{ site.baseurl }}/docs/controllers/">Controllers</a>
    <ul><li><a href="{{ site.baseurl }}/docs/controllers/request/">Request</a></li></ul>
    <ul><li><a href="{{ site.baseurl }}/docs/controllers/view/">View</a></li></ul>
  </li>
   <li><a href="{{ site.baseurl }}/docs/models/">Models</a>
    <ul>
      <li><a href="{{ site.baseurl }}/docs/models/customposttypes/">Custom post types</a></li>
      <li><a href="{{ site.baseurl }}/docs/models/queries/">Queries</a></li>
      <li><a href="{{ site.baseurl }}/docs/models/taxonomies/">Taxonomies</a></li>
      <li><a href="{{ site.baseurl }}/docs/models/adminmenus/">Admin menus</a></li>
    </ul>
  </li>
  <li><a href="{{ site.baseurl }}/docs/saving/">Saving data</a>
    <ul>
      <li><a href="{{ site.baseurl }}/docs/validators/">Validators</a></li>
    </ul>
  </li>
</ul>

<h3 id="writing-code">Tools</h3>
<ul>
  <li><a href="{{ site.baseurl }}/docs/server/">Bundled server</a></li>
  <li><a href="{{ site.baseurl }}/docs/documenting/">Documenting</a></li>
  <li><a href="{{ site.baseurl }}/docs/testing/">Testing</a></li>
  <li><a href="{{ site.baseurl }}/docs/generator">Object generator</a></li>
  <li><a href="{{ site.baseurl }}/docs/migrations/">Database migrations</a></li>
  <li><a href="{{ site.baseurl }}/docs/utilities/">Utilities</a>
    <ul>
          <!-- li><a href="{{ site.baseurl }}/docs/forms/">Form</a></li -->
      <li><a href="{{ site.baseurl }}/docs/utilities/debug/">debug()</a></li>
      <li><a href="{{ site.baseurl }}/docs/utilities/emailloader/">EmailLoader</a></li>
    </ul>
  </li>
</ul>
