
/**
 * Icons
 */
.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $grey-color;
        }
    }
}

/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}



/**
 * Basic styling
 */
body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    color: $text-color;
    background-color: $background-color;
    padding-top: 110px;
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}


/**
 * Lists
 */
ul {
    li {
        margin-left: 1.25em;
    }
}



/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}


.site-header {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    font-size:14px;

    height: 55px;
    line-height: 55px;
    margin: 38px 48px;

    h1 {
        float: left;
        margin: 0;
    }

    nav {
        float: right;

        ul {
            margin: 0;
            padding:0;
        }

        li {
            display: inline;
        }
    }
}


.action-button {
    background: #00e9da;
    color: #fff;
    border-radius: 56px;
    box-shadow: 0 13px 15px 0 rgba(0, 0, 0, .5);
    display: inline-block;
    line-height: 112px;
    height: 112px;
    text-align: center;
    text-transform: uppercase;
    width: 112px;
}


