
* {
    transition: all .4s;
}

/**
 * Icons
 */
.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $grey-color;
        }
    }
}

/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}



/**
 * Basic styling
 */
body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    color: $text-color;
    background-color: $background-color;
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}


/**
 * Lists
 */
ul {
    li {
        margin-left: 1.25em;
    }
}



/**
 * Images
 */
img {
    display: block;
    max-width: 100%;
    vertical-align: middle;
    border: 5px solid #113d4e;
    margin: auto;
    border-radius: 3px;
}

h1, h2, h3, h4 {
    color: #062a37;
    font-family: 'Poppins', sans-serif;
}

.site-header {
    background-color: $brand-primary-darkest;
    line-height: 110px;
    position: relative;
    z-index: 3;

    h1 {
        margin: 0;
        display: inline;
    }

    nav {
        float: right;
        text-transform: uppercase;

        ul {
            margin: 0;
            padding: 0;
        }

        li {
            display: inline;

            &:first-child {
                margin-left:0;
            }
        }
    }

    a {
        color: #fff;
        text-decoration: none;

        &:hover {
            color: $brand-highlight-color;
            path {
                fill: $brand-highlight-color;
            }
        }
    }

    .icon {

        path {
            fill: #ffffff;
        }
    }
}

@media (max-width: $screen-md-min) {
    .site-header {
        line-height: 50px;

        h1 {
            display: block;
            text-align: center;
            margin: .6em auto 0;
        }

        nav {
            float: none;
            margin: auto;
        }

    }
}


/**
 * Site footer
 */
.site-footer {
    background-color: $brand-primary-darkest;
    color: $brand-primary;
    padding: $spacing-unit 0;
    text-align: center;
    font-size: $small-font-size;

    p {
        margin: auto;
        margin-bottom: 0.5em;
    }
}

.underlined-title {
    background: 0 75% url(/assets/images/title-underline.png) repeat-x;
    padding: 0 0.3em 0 0;
}
