
* {
    transition: padding .4s, color .4s, opacity 1.2s, background-color 2s;
    font-weight: 300;
}

.button {
    transition: background-color .3s;
}

/**
 * Icons
 */
.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $grey-color;
        }
    }
}

/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}



/**
 * Basic styling
 */
body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    color: $text-color;
    background-color: $background-color;
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}


/**
 * Lists
 */
ul {
    li {
        margin-left: 1.25em;
    }
}



/**
 * Images
 */
img {
    display: block;
    max-width: 100%;
    vertical-align: middle;
    border: 5px solid #113d4e;
    margin: auto;
    border-radius: 3px;
}

h1, h2, h3, h4 {
    color: #062a37;
}

h1 {
    font-size: 60px;
    font-weight: 900;
    line-height: 70px;
}

h2 {
    font-size: 36px;
    font-weight: 700;
    line-height: 45px;
}


.site-header {
    background-color: $brand-primary-darkest;
    line-height: 110px;
    position: relative;
    z-index: 3;

    h1 {
        margin: .8em 0 0 .8em;
        font-size: 40px;
        display: inline;
    }

    nav {
        float: right;
        text-transform: uppercase;

        ul {
            margin: 0;
            padding: 0;
        }

        li {
            display: inline;

            &:first-child {
                margin-left:0;
            }
        }
    }

    a {
        color: #fff;
        text-decoration: none;

        &:hover {
            color: $brand-highlight-color;
            path {
                fill: $brand-highlight-color;
            }
        }
    }

    .icon {
        path {
            fill: #ffffff;
        }
    }
}

@media (max-width: $screen-md-min) {
    .site-header {
        line-height: 50px;

        h1 {
            display: block;
            text-align: center;
            margin: .6em auto 0;
        }

        nav {
            float: none;
            margin: auto;
            text-align: center;
        }

    }
}


/**
 * Site footer
 */
.site-footer {
    background-color: $brand-primary-darkest;
    color: $brand-primary;
    padding: $spacing-unit 0;
    text-align: center;
    font-size: $small-font-size;

    p {
        margin: auto;
        margin-bottom: 0.5em;
    }
}

.underlined-title {
    background: 0 75% url(/assets/images/title-underline.png) repeat-x;
    padding: 0.2em;
}

.action-button {
    background: #00e9da;
    color: #fff;
    cursor: pointer;
    border-radius: 56px;
    box-shadow: 0 13px 15px 0 rgba(0, 0, 0, .5);
    display: inline-block;
    height: 112px;
    text-align: center;
    text-transform: uppercase;
    width: 112px;
    padding-top:45px;

    a {
        color: #fff;
        text-decoration: none;
    }

    span {
        display:block;
        font-size: 12px;
    }
}

a.button {
    background: #00e9da;
    cursor: pointer;
    display: inline-block;
    padding: .5em 1em;
    text-align: center;
    text-transform: uppercase;
    min-width: 112px;
    font-size: 14px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .2);

    text-decoration: none;
    color: #fff;

    &:hover, &:focus {
        background-color: $brand-highlight-color;
        color: #fff;
    }
}

