.guidebook {
    aside {
        background: #e5e5e5;
        margin: 0 -15px;
        padding: 1em;

        form {
            display: block;
            border-bottom: 1px solid #dedede;
            padding: 1em 0;
            input {
                width:100%;
            }
        }

        a {
            color:#0e0e48;
        }

        .top-level > li {
            margin: 0;
            list-style-type: none;
        }

        h4 {
            color: $brand-primary-darkest;
            font-size: 1.2em;
            margin: 1em 0;
        }

        ul ul {
            margin-bottom: 1em;
            list-style-type: disc;
        }

        .active > a {
            color: #fcc403;
        }
    }

    article {

        h1, h2, h3 {
            color: #0e0e48;
        }

        h1 {
            max-width: 80%;
        }

        padding: $spacing-unit 0;
        max-width:660px;
        margin:90px 0 0 120px;

        .intro {
            border-left: 4px solid #e3e3e3;
            font-style: italic;
            font-size: 28px;
            line-height: 38px;
        }

        h2 {
            margin-top: 45px;
        }

        p, ul {
            margin-bottom: 45px;
        }

        footer {
            border-top: 1px solid #dedede;
            margin:2em 0;
            padding:1.2em 0;
            text-align: right;
            font-size: 120%;

            a:after {
                content: "→";
                padding-left: 0.25em;
                margin-left: 0.5em;
                transition: padding margin .3s;
            }

            a:hover:after {
                padding-left: 0.75em;
                margin-left: 0;
            }
        }
    }
}
