.guidebook {

    aside {
        margin-top: 110px;
    }

    article {
        padding-top: 110px;

        color: #111;
        background: #fff;

        h2 {
            margin-top: 1em;
        }
    }

}
