.home {
    margin-top: -110px;
    background: $brand-primary-darkest;
    color: #fff;

    .hero {
        text-align: center;
        background: $brand-primary-darkest;
        background-size: cover;
        height: 700px;
        position:relative;

        .lead {
            font-family: 'Poppins', sans-serif;
            position: absolute;
            top: 260px;
            margin: 0 180px;
            font-size: $title-font-size;
            font-weight: bold;
            span {
                @extend .underlined-title;
            }
        }

    }

    article {
        height: 800px;
        font-size: 18px;
        padding-right: 16.666%;
        position: relative;
        z-index: 1;
        padding-top: $padding-base-vertical * 20;

        .number {
            background: #fff;
            border-radius: 20px;
            display:block;
            font-size: 20px;
            font-weight: bold;
            height: 40px;
            width: 40px;
            line-height: 40px;
            text-align: center;
            margin: 40px 0 50px 40px;
        }

        h3 {
            color: #fff;
            font-size: $title-font-size;
            font-weight: bold;
            line-height: 1.3;
            margin-bottom: 1em;

            span {
                @extend .underlined-title;
            }
        }

        p {
            margin-bottom: $spacing-unit;
        }
    }

    .presentation {
        position: relative;
        overflow: hidden;

        article {
            padding-left: ($container-sm / $grid-columns) + $grid-gutter-width;
        }

        aside  {
            position: absolute;
            width: 47%;

            figure {
                height: 550px;
            }
        }
    }

    .presentating-right {
        aside  {
            top: 110px;
            right: -5px;
        }
    }

    .presentating-left {
        aside  {
            top: 110px;
            left: -5px;
        }
    }

    .presentating-bottom {
        article {

            .number {
                margin: 40px auto 50px auto;
            }

            h3 span {
                padding: 0 0.3em;
            }

            code {
                padding-bottom: 1em;
            }

            text-align: center;
            max-width:50%;
            margin: auto;
            padding:120px 0 200px;
            height: auto;
        }


        .terminal-holder {
            position: relative;
            margin-bottom: -5px;

            aside  {
                position: relative;
                margin-top:-150px;
                top: 0;
                left: 20%;
                width: 60%;
                height: 585px;
            }
        }
    }

    .get-to-know {
        ul {
            border-left: 1px solid $brand-primary;
            margin-top: 250px;
            list-style-type: none;
            font-size: $title-font-size * 0.5;

            li {
                margin-bottom: .85em;
            }

            a {
                text-decoration: none;
                color: #fff;
            }

            a:hover {
                color: $brand-primary;
            }

            a:after {
                content: "→";
                padding-left: 0.25em;
                transition: padding .3s;
            }

            a:hover:after {
                padding-left: 0.75em;
            }
        }
    }

    .bg-1 {
        background: $brand-primary-dark;

        .number {
            color: $brand-primary-dark;
            box-shadow: 0 0 0 30px $brand-primary-dark;
        }

        .pale {
            background: $brand-primary;
        }
    }

    .bg-2 {
        background: $brand-secondary-dark;

        .number {
            color: $brand-secondary-dark;
            box-shadow: 0 0 0 30px $brand-secondary-dark;
        }

        .pale {
            background: $brand-secondary;
        }
    }

    .bg-3 {
        background: $brand-third-dark;

        .number {
            color: $brand-third-dark;
            box-shadow: 0 0 0 30px $brand-third-dark;
        }

        .pale {
            background: $brand-third-dark;
        }
    }
}
