/* Reset Bootstrap  */
pre {
    border-radius: 0;
    border: none;
    background: transparent
}

code.highlighter-rouge,
.styled code {
    color: $brand-primary;
    background-color: lighten($brand-primary, 20%);
    margin: auto 4px;
}

.terminal {
    z-index: 2;

    .header {
        background: #fefefe;
        border-bottom: 1px solid #8f8faa;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        font-size: 14px;
        text-shadow: 0 1px #fff;
        color: #999;
        padding: 8px 1em 0 18px;
    }

    .gutter {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    figure {
        border-radius: 0;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }
}



/* Style our own box */
figure {
    background-color: #0e0e48;
    border-radius: 5px;
    margin-bottom: 30px;

    pre {
        margin: 0;
        padding: 2em;
    }

    .gutter {
        background-color: lighten(#0e0e48, 5%);
        border-right: 1px solid lighten(#0e0e48, 30%);
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        padding-top: 15px;
        padding-bottom: 15px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -o-user-select: none;
        user-select: none;

        pre {
            color: lighten(#0e0e48, 20%);
            padding: 0 0.75em 0 1.25em;
        }
    }

    table {
        margin:-1em;
    }

    .code, code {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;

        .hll { background-color: #49483e }
        .c { color: #757396 } /* Comment */
        .err { color: #960050; background-color: #1e0010 } /* Error */
        .k { color: #62efc1 } /* Keyword */
        .l { color: #ae81ff } /* Literal */
        .n { color: #d46b73 } /* Name */
        .o { color: #f92672 } /* Operator */
        .p { color: #babacb } /* Punctuation */
        .cm { color: #757396 } /* Comment.Multiline */
        .cp { color: #757396 } /* Comment.Preproc */
        .c1 { color: #757396 } /* Comment.Single */
        .cs { color: #757396 } /* Comment.Special */
        .ge { font-style: italic } /* Generic.Emph */
        .gs { font-weight: bold } /* Generic.Strong */
        .kc { color: #62efc1 } /* Keyword.Constant */
        .kd { color: #62efc1 } /* Keyword.Declaration */
        .kn { color: #f92672 } /* Keyword.Namespace */
        .kp { color: #62efc1 } /* Keyword.Pseudo */
        .kr { color: #62efc1 } /* Keyword.Reserved */
        .kt { color: #62efc1 } /* Keyword.Type */
        .ld { color: #eacf95 } /* Literal.Date */
        .m { color: #ae81ff } /* Literal.Number */
        .s { color: #eacf95 } /* Literal.String */
        .na { color: #8ca989 } /* Name.Attribute */
        .nb { color: #d46b73 } /* Name.Builtin */
        .nc { color: #8ca989 } /* Name.Class */
        .no { color: #62efc1 } /* Name.Constant */
        .nd { color: #8ca989 } /* Name.Decorator */
        .ni { color: #d46b73 } /* Name.Entity */
        .ne { color: #8ca989 } /* Name.Exception */
        .nf { color: #8ca989 } /* Name.Function */
        .nl { color: #d46b73 } /* Name.Label */
        .nn { color: #d46b73 } /* Name.Namespace */
        .nx { color: #ffffff } /* Name.Other */
        .py { color: #d46b73 } /* Name.Property */
        .nt { color: #f92672 } /* Name.Tag */
        .nv { color: #d46b73 } /* Name.Variable */
        .ow { color: #f92672 } /* Operator.Word */
        .w { color: #d46b73 } /* Text.Whitespace */
        .mf { color: #ae81ff } /* Literal.Number.Float */
        .mh { color: #ae81ff } /* Literal.Number.Hex */
        .mi { color: #ae81ff } /* Literal.Number.Integer */
        .mo { color: #ae81ff } /* Literal.Number.Oct */
        .sb { color: #eacf95 } /* Literal.String.Backtick */
        .sc { color: #eacf95 } /* Literal.String.Char */
        .sd { color: #eacf95 } /* Literal.String.Doc */
        .s2 { color: #eacf95 } /* Literal.String.Double */
        .se { color: #ae81ff } /* Literal.String.Escape */
        .sh { color: #eacf95 } /* Literal.String.Heredoc */
        .si { color: #eacf95 } /* Literal.String.Interpol */
        .sx { color: #eacf95 } /* Literal.String.Other */
        .sr { color: #eacf95 } /* Literal.String.Regex */
        .s1 { color: #eacf95 } /* Literal.String.Single */
        .ss { color: #eacf95 } /* Literal.String.Symbol */
        .bp { color: #d46b73 } /* Name.Builtin.Pseudo */
        .vc { color: #d46b73 } /* Name.Variable.Class */
        .vg { color: #d46b73 } /* Name.Variable.Global */
        .vi { color: #d46b73 } /* Name.Variable.Instance */
        .il { color: #ae81ff } /* Literal.Number.Integer.Long */
        .gh { } /* Generic Heading & Diff Header */
        .gu { color: #757396; } /* Generic.Subheading & Diff Unified/Comment? */
        .gd { color: #f92672; } /* Generic.Deleted & Diff Deleted */
        .gi { color: #8ca989; } /* Generic.Inserted & Diff Inserted */
        // }
    }


    .language-bash {

        color: #dedede;

        .gutter {
            width: 3px;
            background: #000;
            border-right: none;
            padding: 0 3px 0 0 ;

            pre {
                display: none;
            }
        }

        pre {
            color: #f0e68c;
        }

        .code {
            background: #000;
            width: 100%;
        }

        .gp {
            color: #fff;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            -o-user-select: none;
            user-select: none;
        }

        .nb {
            color: #cd5c5c;
        }
    }
}

/* Load up Monokai */


