---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

$base-font-family: 'museo-sans', Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;

$title-font-size:  $base-font-size * 3.6;
$base-line-height: 1.65;
$spacing-unit:     30px;

$text-color:       #737373;
$background-color: #fefefe;

$brand-primary:    #4949f7;
$brand-primary-dark: #2f2ff3;
$brand-primary-darkest: #0f105d;

$brand-secondary: #6f2ac5;
$brand-secondary-dark: #511ab0;

$brand-third: #02e4db;
$brand-third-dark: #07b9d1;

$brand-highlight-color: #fcc403;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);


@import "bootstrap";

$column-width: percentage(1 / $grid-columns);

@media (max-width: $screen-md-min) {
    $title-font-size: $title-font-size * .8;
}

@import
    "base",
    "syntax",
    "guidebook",
    "api",
    "hands-on",
    "home"
;

