---
layout: default
---

<section class="guidebook">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3">
                <aside>

                    <form action="/search/">
                        <input type="text" name="q" id="tipue_search_input" autocomplete="off" required>
                    </form>

                    {% capture navigation %}
                        {% include guidebook_10_menu.html %}
                    {% endcapture %}
                    {{ navigation | strip_newlines }}
                </aside>
            </div>
            <div class="col-sm-9">
                <article>
                    <header>
                        <h1>{{ page.title }}</h1>
                    </header>

                    {{ content }}

                    {% capture next_page %}
                        {% include guidebook_10_next_page.html %}
                    {% endcapture %}
                    {{ next_page | strip_newlines }}

                </article>
            </div>
        </div>
    </div>
</section>
