---
layout: default
---

<section class="search">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">

                <article>
                    <header>
                        <h1>{{ page.title }}</h1>
                    </header>

                    <form action="/search/" method="GET">
                        <input type="text" name="q" autocomplete="off" required>
                        <input type="submit" value="Search">
                    </form>

                    {{ content }}

                </article>
            </div>
        </div>
    </div>
</section>


<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
<script src="/assets/scripts/strata.js"></script>
